[submodule "Dependencies/joystick_drivers"]
	path = Dependencies/joystick_drivers
	url = https://github.com/ros-drivers/joystick_drivers.git
[submodule "Dependencies/serial"]
	path = Dependencies/serial
	url = https://github.com/wjwwood/serial.git
